<button
  *ngIf="!setupUiSwitchingService.isShowSetupComponents()"
  (click)="setupUiSwitchingService.toggleShowSetupComponents()"
  class="btn"
  id="setup-button"
>
  <i class="bi-gear" i18n-ngbTooltip ngbTooltip="Switch to Setup"></i>
</button>
<button
  *ngIf="setupUiSwitchingService.isShowSetupComponents()"
  (click)="setupUiSwitchingService.toggleShowSetupComponents()"
  class="btn"
  id="leave-setup-button"
>
  <i class="bi-gear-fill" i18n-ngbTooltip ngbTooltip="Leave Setup"></i>
</button>
