<form
  #form="ngForm"
  (ngSubmit)="onSubmit()"
  id="generateSyncKeyForm"
  novalidate
>
  <div class="row">
    <div class="col">
      <h4 i18n>Local Synchronization Key</h4>
    </div>
  </div>
  <div
    *ngIf="
      !model || !model.fingerprint || model.fingerprint?.trim().length == 0
    "
    class="row"
  >
    <div class="col" i18n>
      The system does not have a local synchronization key set at all. So it is
      safe and important to generate one.
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info adminpasswordhelp"
        i18n="localSyncKeyHelp"
        id="localsynckeyhelp"
        role="alert"
      >
        The local sync key is needed to synchronize data to the remote syncosync
        system. A key is generated locally and it's public portion could then be
        transmitted to the remote system. If a new key is generated, the key
        exchange process has to be restarted again (no backup data will be
        lost). So be careful, if it is really necessary to generate a new kew,
        if there is already a fingerprint shown.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
      <label i18n id="current_key_label">Current key: </label>
      <div>{{ model?.fingerprint }}</div>
    </div>
    <div class="col-auto align-self-end">
      <button
        [disabled]="model == null"
        class="btn btn-danger"
        i18n
        id="generate_key_button"
        type="submit"
      >
        Generate new key
      </button>
    </div>
  </div>
</form>
