<form
  *ngIf="model"
  #form="ngForm"
  (ngSubmit)="onSubmit()"
  id="addAccountForm"
  novalidate
  autocomplete="off"
>
  <input autocomplete="off" name="hidden" type="text" style="display: none" />
  <div class="form-group row">
    <div class="col">
      <label for="accountname" i18n>Account name:</label>
      <input
        #accountName="ngModel"
        [(ngModel)]="model.name"
        class="form-control"
        id="accountname"
        name="accountName"
        required
        validateAccountName
      />
    </div>
  </div>
  <div class="row">
    <div class="col align-self-end">
      <ngb-alert *ngIf="accountName.errors" [dismissible]="false" i18n>
        Account name is required or invalid account name
      </ngb-alert>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="accountNameHelp"
        id="addaccountnamehelp"
        role="alert"
      >
        The account name may not be empty. It has to start with a character and
        may contain a-z, 0-9, _ and -. All text is lowercase.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-8">
      <label for="longName" i18n>Long Name:</label>
      <div class="input-group mb-3">
        <input
          #longName="ngModel"
          [(ngModel)]="model.rlongname"
          class="form-control"
          id="longName"
          name="longName"
          validateLongName
        />
        <ngb-alert *ngIf="longName.errors" [dismissible]="false" i18n>
          Invalid long name
        </ngb-alert>
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="longNameHelp"
        id="accountlongnamehelp"
        role="alert"
      >
        The Long Name must not contain " and ,
      </div>
    </div>
    <div class="col-sm-4">
      <label for="quota" i18n>Quota:</label>
      <div class="input-group mb-3">
        <input
          [(ngModel)]="model.max_space_allowed"
          class="form-control"
          id="quota"
          max="100"
          min="1"
          name="quota"
          type="number"
          value="100"
        />
        <div class="input-group-append">
          <span class="input-group-text">%</span>
        </div>
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="quotaHelp"
        id="addqoutahelp"
        role="alert"
      >
        The maximount portion of the drive, this account may occupy.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md align-self-end">
        <label for="password" i18n>Password:</label>
        <div class="input-group">
          <input
            autocomplete="new-password"
            #password
            #passwordModel="ngModel"
            [(ngModel)]="model.password"
            [type]="'password'"
            class="form-control"
            id="password"
            name="password"
            validateAccountPassword
          />
          <div class="input-group-append">
            <span [ngSwitch]="password.type == 'text'" class="input-group-text">
              <i
                (click)="password.type = 'password'"
                *ngSwitchCase="true"
                class="bi-eye-fill"
                i18n-ngbTooltip
                ngbTooltip="Hide Password"
              ></i>
              <i
                (click)="password.type = 'text'"
                *ngSwitchCase="false"
                class="bi-eye-slash-fill"
                i18n-ngbTooltip
                ngbTooltip="Show Password"
              ></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md align-self-end">
        <label for="passwordCheck" i18n>Password (2nd time):</label>
        <input
          #passwordCheck
          class="form-control"
          id="passwordCheck"
          type="password"
        />
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <ngb-alert
          *ngIf="
            password.value !== null &&
            password.value.length > 5 &&
            password.value !== passwordCheck.value
          "
          [dismissible]="false"
        >
          Password mismatch!
        </ngb-alert>
        <ngb-alert *ngIf="passwordModel.errors" [dismissible]="false">
          The password must be at least 6 characters, no more than 20
          characters, and must include at least one upper case letter, one lower
          case letter and one numeric digit. No whitespaces allowed. The
          password can be generated with the generate button and be shown with
          the eye button.
        </ngb-alert>
        <div
          *ngIf="helpStateService.isShowHelp()"
          class="help-block alert alert-info adduserhelp"
          i18n="passwordHelp"
          id="addpasswordhelp"
          role="alert"
        >
          The password must be at least 6 characters, no more than 20
          characters, and must include at least one upper case letter, one lower
          case letter and one numeric digit. No whitespaces allowed. The
          password can be generated with the generate button and be shown with
          the eye button.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label for="sshKey" i18n>Public SSH key:</label>
      </div>
    </div>

    <div class="row justify-content-start align-items-center">
      <div class="col-auto">
        <input
          (change)="
            onSSHKeyChange($event);
            pubKeyUploadText.innerText = $event?.target?.files?.item(0).name
          "
          accept=".pub"
          id="sshKey"
          name="sshKey"
          type="file"
        />
        <label class="btn btn-default custom-file-upload" for="sshKey">
          <i
            class="bi-file-earmark-arrow-up"
            i18n-ngbTooltip
            ngbTooltip="Upload new public key"
          ></i>
          <span #pubKeyUploadText>.pub</span>
        </label>
      </div>
      <div *ngIf="newFingerprint" class="col-auto">
        <span>New Fingerprint:</span><br />
        <span
          >{{ newFingerprint }} &nbsp;
          <i
            (click)="
              model.ssh_pub_key = '';
              newFingerprint = '';
              pubKeyUploadText.innerText = '.pub'
            "
            *ngIf="newFingerprint"
            class="bi-x-circle red"
            i18n-ngbTooltip
            ngbTooltip="Delete SSH Key"
          ></i
        ></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-end">
      <div
        *ngIf="isInvalidConfiguration()"
        class="help-block alert alert-warning"
        i18n="@@passwordOrPubKeyRequiredAlert"
        id="passwordOrPubKeyRequiredAlert"
        role="alert"
      >
        A password or a public key must be specified since an account would not
        be accessible otherwise.
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="sshHelp"
        id="editsshhelp"
        role="alert"
      >
        You could delete or upload the public ssh key for uploading data for
        your account.
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 align-self-end">
        <label for="mailAddress" i18n>E-Mail address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi-envelope"></i></span>
          </div>
          <input
            [(ngModel)]="model.mail_address"
            class="form-control"
            email
            id="mailAddress"
            name="mailAddress"
          />
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 align-self-end">
        <label for="remindPeriod" i18n>Remind after</label>
        <div class="input-group">
          <input
            [(ngModel)]="model.remind_duration"
            class="form-control"
            id="remindPeriod"
            name="remindPeriod"
            value="22"
          />
          <div class="input-group-append">
            <span class="input-group-text" i18n>days</span>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 align-self-end">
        <label for="repeatPeriod" i18n>Repeat every</label>
        <div class="input-group">
          <input
            [(ngModel)]="model.info_period"
            class="form-control"
            id="repeatPeriod"
            name="repeatPeriod"
            value="7"
          />
          <div class="input-group-append">
            <span class="input-group-text" i18n>days</span>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 align-self-end">
        <label for="mailInfoLevel" i18n>Mail Info Level</label>
        <select
          [(ngModel)]="model.mail_info_level"
          class="form-control"
          id="mailInfoLevel"
          name="mailInfoLevel"
        >
          <option [ngValue]="mailInfoLevels.NONE" i18n>None</option>
          <option [ngValue]="mailInfoLevels.ERROR" i18n>Error</option>
          <option [ngValue]="mailInfoLevels.WARNING" i18n>Warning</option>
          <option [ngValue]="mailInfoLevels.INFO" i18n>Info</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-end">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="eMailHelp"
        id="editemailhelp"
        role="alert"
      >
        E-Mail-Address: The e-mail address which is used to inform the account
        owner, that there is an issue with his account, e.g. disk is full or no
        access since some time.
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="remindDurationHelp"
        id="editreminddurationhelp"
        role="alert"
      >
        Remind after: The account owner will be informed if the account was not
        accessed for this period of time
      </div>
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="repeatPeriodHelp"
        id="editrepeatperiodhelp"
        role="alert"
      >
        Repeat every: If there is an issue, the account owner will get an e-mail
        every repeat period
      </div>
    </div>
  </div>

  <div class="row flex-row mt-2 justify-content-end">
    <div class="col col-auto">
      <button
        [disabled]="
          form.invalid ||
          form.pristine ||
          isInvalidConfiguration() ||
          password.value !== passwordCheck.value ||
          !password.validity.valid
        "
        class="btn btn-block btn-primary"
        type="submit"
      >
        Add
      </button>
    </div>
  </div>
</form>
