<div class="card">
  <h4 class="card-header">Disaster swap</h4>
  <div class="card-body">
    <div i18n>
      <p>
        If you received this syncosync box from your buddy, then you can enter
        your syncosync admin password here and the box will go into disaster
        swap mode. This means, that this box will behave like your own syncosync
        box, which you may have lost through a disaster.
      </p>
      <p>
        The accounts are readable only, so you can access your backups but you
        can not change any data on the harddisk.
      </p>
    </div>
    <form
      *ngIf="model"
      #form="ngForm"
      (ngSubmit)="onSubmit()"
      id="disasterSwapForm"
      novalidate
    >
      <div class="form-group">
        <label for="password">Remote's admin-password</label>
        <input
          [ngClass]="{ 'is-invalid': submitted && form.errors }"
          id="password"
          class="form-control"
          name="password"
          [(ngModel)]="model.config_backup_password"
          type="password"
        />
        <div *ngIf="submitted && form.errors" class="invalid-feedback">
          <div *ngIf="form.errors.required">Password is required</div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <div class="row justify-content-end">
          <div class="col col-auto">
            <button type="submit" [disabled]="loading" class="btn btn-danger">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Disaster swap
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
