<div class="modal-header">
  <div [ngSwitch]="title">
    <h4
      *ngSwitchCase="infoLevelEnum.INFO"
      class="modal-title"
      i18n="info|Single word@@single_word.info"
    >
      Info
    </h4>
    <h4
      *ngSwitchCase="infoLevelEnum.WARNING"
      class="modal-title"
      i18n="warning|Single word@@single_word.warning"
    >
      Warning
    </h4>
    <h4
      *ngSwitchCase="infoLevelEnum.ERROR"
      class="modal-title"
      i18n="error|Single word@@single_word.error"
    >
      Error
    </h4>
    <h4
      *ngSwitchCase="infoLevelEnum.FATAL"
      class="modal-title"
      i18n="fatal|Single word@@single_word.fatal"
    >
      Fatal
    </h4>
  </div>
  <i class="bi-x" (click)="closeModal()" ngbTooltip="Close" i18n-ngbTooltip></i>
</div>

<div class="modal-body">
  <p *ngIf="content">
    {{ content | localizeMessage }}
  </p>
  <div [ngSwitch]="true">
    <p *ngSwitchCase="isAdditionalContentString()">{{ additionalContent }}</p>
    <p *ngSwitchCase="isAdditionalContentLocalizedMessage()">
      {{ additionalContent | localizeMessage }}
    </p>
    <div *ngSwitchCase="isAdditionalContentArray()">
      <div *ngFor="let element of additionalContent">
        <p>{{ element }}</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    (click)="closeModal()"
    class="btn btn-block btn-primary"
    i18n
    type="button"
  >
    OK
  </button>
</div>
