<div class="row">
  <div class="col">
    <h3 i18>Synchronization Setup</h3>
    <p i18n>
      To synchronize your syncosync box with that from your syncosync partner,
      you need to set the the remote hostname correctly. After that, you can go
      ahead and exchange your key with your syncosync partner. On of you has to
      lead the key exchange, the other has to follow. <br />
      You could also skip this step and set up your box without synchronization,
      but this defeats totally the purpose of syncosync :-)
    </p>
  </div>
</div>
<app-sync-setup-remote-config
  #syncSetupRemoteConfigComponent
  (formFinished)="
    enableKeyExchangeButtons(keyExchangeButtons, syncSetupRemoteConfigComponent)
  "
  (modelChanged)="
    enableKeyExchangeButtons(keyExchangeButtons, syncSetupRemoteConfigComponent)
  "
></app-sync-setup-remote-config>
<hr />
<app-remote-key #remoteKeyComponent></app-remote-key>
<hr />
<app-key-exchange-buttons
  #keyExchangeButtons
  (configurationFinished)="remoteKeyComponent.updateRemoteKey()"
></app-key-exchange-buttons>
