<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          #password
          [(ngModel)]="model"
          name="password"
          class="form-control"
          id="password"
          type="password"
        />
        <ngb-toast
          class="bg-danger text-light mt-2"
          *ngIf="showPasswordError"
          [delay]="5000"
          [autohide]="true"
          (hidden)="showPasswordError = false"
          i18n
        >
          Invalid Password
        </ngb-toast>
      </div>
      <br />
      <div class="form-group">
        <div class="row justify-content-end">
          <div class="col col-auto">
            <button [disabled]="loading" class="btn btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Login
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
