<div *ngIf="model">
  <div class="row">
    <div class="col">
      <div
        i18n
        *ngIf="!model.fingerprint || model.fingerprint.trim().length == 0"
      >
        Since you have not set up synchronization to another syncosync box, you
        can only partition the volume on your side. However, you can still setup
        synchronization at a later time, but you will be restrained based on the
        amount of data already stored on the disk. It is always better to start
        with a synchronized setup as this avoids the risk of data loss entirely,
        which is the main idea of syncosync.
      </div>
      <div *ngIf="model.fingerprint && model.fingerprint.trim().length > 0">
        <div i18n>
          Congratulations, you have successfully setup synchronization with your
          syncosync partner. It is now time to partition the volumes by
          discussing the distribution of disk space with your partner. Usually,
          it is an equal deal (50:50), but you may be your own sync partner
          (e.g., office and home) or one side just needs more space. For
          example, a photographer will likely need more disk space than someone
          mostly working with text files. Thus, the distribution can be chosen
          freely.
        </div>
        <br />
        <div i18n>
          In any case, you and your synchronization partner still have to decide
          whether the partitioning of the volume will be executed by you setting
          (leading) the partitioning or accepting (following) your
          synchronization partner's distribution.
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="model.fingerprint && model.fingerprint.trim().length > 0"
    class="row flex-row mt-2 justify-content-end"
  >
    <div class="col col-auto">
      <button
        (click)="leadPartitioningDecision()"
        class="btn btn-primary btn-block"
        i18n="partition_lead_decision button"
        type="button"
      >
        Lead Partitioning
      </button>
    </div>
    <div class="col col-auto">
      <button
        (click)="followPartitioningDecision()"
        class="btn btn-primary btn-block"
        i18n="remoteRecovery_configuration_backup_button"
        type="button"
      >
        Follow Partitioning
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div *ngIf="!model.fingerprint || model.fingerprint.trim().length == 0">
      <app-partitioning-slider
        (formFinished)="formFinished.emit()"
      ></app-partitioning-slider>
    </div>
    <div *ngIf="isLeaderDecision">
      <app-partitioning-slider
        (formFinished)="leadComponent.disableButtons = false"
      ></app-partitioning-slider>
      <app-partitioning-lead
        #leadComponent
        (formFinished)="formFinished.emit()"
      ></app-partitioning-lead>
    </div>
    <div *ngIf="isFollowerDecision">
      <app-partitioning-follow
        (formFinished)="formFinished.emit()"
      ></app-partitioning-follow>
    </div>
  </div>
</div>
