<ng-template #htmlContent>
  <span *ngIf="spaceUsedPercentage >= 98" i18n>Space full</span>
  <span *ngIf="spaceUsedPercentage >= 90 && spaceUsedPercentage < 98" i18n
    >Space almost full</span
  >
</ng-template>
<i
  class="bi-exclamation-diamond"
  [ngClass]="getColor()"
  [ngbTooltip]="htmlContent"
></i>
