<h3 i18n>Network Setup</h3>
<nav #nav="ngbNav" class="nav-tabs" ngbNav>
  <ng-container ngbNavItem>
    <a ngbNavLink name="hostname_tab" i18n>Hostname</a>
    <ng-template ngbNavContent>
      <app-hostname-form></app-hostname-form>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink name="nameserver_tab" i18n>Nameserver</a>
    <ng-template ngbNavContent>
      <app-nameserver-form></app-nameserver-form>
    </ng-template>
  </ng-container>
  <ng-container
    *ngIf="
      sysstateService.getLatestSysstate().actmode !== SystemMode.DISASTER_SWAP
    "
    ngbNavItem
  >
    <a ngbNavLink name="remote_ssh_tab" i18n>Remote SSH Port</a>
    <ng-template ngbNavContent>
      <app-ssh-port-form></app-ssh-port-form>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink name="interfaces_tab" i18n>Interfaces</a>
    <ng-template ngbNavContent>
      <app-network-interface-form></app-network-interface-form>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
