<div class="row">
  <div class="col">
    <h3 i18>ESA Finish</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    You have successfully setup your syncosync box, congratulations!
  </div>
</div>
<div class="row flex-row mt-3 justify-content-end">
  <div class="col col-auto">
    <button class="btn btn-primary" type="button" (click)="redirectToStatus()">
      Continue
    </button>
  </div>
</div>
