<div class="row mt-2 justify-content-end">
  <div class="col" i18n>
    Downloading the latest (aka current) configuration backup. This backup can
    be used for restore purposes.
  </div>
  <div class="col col-auto">
    <button
      id="downloadLatestConfigurationBackup"
      class="btn btn-primary"
      type="button"
      i18n
      (click)="downloadLatestConfigBackupFile()"
    >
      Download
    </button>
  </div>
</div>
