<div class="row">
  <div class="col">
    <h3 i18>Easy Setup Assistant</h3>
    <p i18n>
      The following screens will lead you through the process of initially
      setting up your syncosync box. If you would like to test the box without a
      sync partner first, this is possible as long are your sync buddy does not
      set up his box at the same time. Your sync buddy can do so at a later time
      requiring you to access your box at the same time in order to pair the
      devices.
    </p>
    <p i18n>
      While you can go back through most of the steps, some steps are not
      reversible - e.g. partitioning of the volumes. Pressing the help button on
      the status bar above activates the help function. We recommend to leave it
      activated during the entire Easy Setup Assistant as you may not know
      everything at this point. Just give it a try now!
    </p>
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info"
      i18n="helpFoundHelp"
      id="helpfound"
      role="alert"
    >
      Great you found it!
    </div>
    <p i18n>
      Please be aware, that this is Free and Open Source Software project. We
      have worked on it for many years now and the whole team is backing up its
      data using it. Yet, there may be situations where you could lose your
      data. You have been warned!
    </p>
  </div>
</div>
