<div class="row flex-row">
  <div class="col"></div>
  <h4 i18n>Remote Recovery in Progress</h4>
</div>
<div class="row flex-row">
  <div class="col" i18n>
    Remote recovery is in progress. Depending on how much data is being restored
    and the speed of the connection to the other syncosync box, this can take a
    long time.<br />You can log out meanwhile, the remote recovery will
    continue.
  </div>
</div>
<hr />
<div class="row flex-row">
  <div class="col">
    <ngb-progressbar
      type="primary"
      [value]="(latestSosToCheckObservable$ | async).percent"
      [animated]="true"
      [striped]="false"
      height="30px"
      [showValue]="true"
      ><h5>
        <!-- {{ (latestSosToCheckObservable$ | async).percent }}% -->
      </h5></ngb-progressbar
    >
  </div>
</div>
<div class="row flex-row mx-2 mt-2">
  <div class="col col-auto my-1">
    <span i18n>Files to restore:</span>
    {{ (latestSosToCheckObservable$ | async).to_check }} <span i18n>of</span>
    {{ (latestSosToCheckObservable$ | async).start_elements }}
  </div>
</div>

<div class="row flex-row mx-2 mt-2 justify-content-end">
  <div class="col col-auto my-1">
    <button
      type="button"
      class="btn btn-danger"
      (click)="cancelRemoteRecovery()"
      i18n
    >
      Stop Remote Recovery
    </button>
  </div>
</div>
