<form *ngIf="model" #form="ngForm" (ngSubmit)="onSubmit()" class="nameservers">
  <div class="row">
    <div class="col">
      <h5 i18n>Nameserver Configuration</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="NameServerHelp"
        id="nameserverhelp"
        role="alert"
      >
        The nameservers are needed to find the remote host from your syncosync
        partner. Normally your box is using DHCP for network configuration and
        no values are needed here.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <label for="firstNameserver" i18n>First nameserver:</label>
        <input
          #firstNameserver="ngModel"
          class="form-control required"
          id="firstNameserver"
          name="firstNameserver"
          type="text"
          validateIpAddress
          [(ngModel)]="model.first_nameserver"
        />
        <ngb-alert
          *ngIf="firstNameserver.errors && firstNameserver.dirty"
          [dismissible]="false"
        >
          Invalid nameserver entry
        </ngb-alert>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <label for="secondNameserver" i18n>Second nameserver:</label>
        <input
          #secondNameserver="ngModel"
          class="form-control"
          [(ngModel)]="model.second_nameserver"
          id="secondNameserver"
          name="secondNameserver"
          type="text"
          validateIpAddress
        />
        <ngb-alert
          *ngIf="secondNameserver.value?.length > 0 && secondNameserver.errors"
          [dismissible]="false"
        >
          Invalid nameserver entry
        </ngb-alert>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <label for="thirdNameserver" i18n>Third nameserver:</label>
        <input
          #thirdNameserver="ngModel"
          class="form-control"
          [(ngModel)]="model.third_nameserver"
          id="thirdNameserver"
          name="thirdNameserver"
          type="text"
          validateIpAddress
        />
        <ngb-alert
          *ngIf="thirdNameserver.value?.length > 0 && thirdNameserver.errors"
          [dismissible]="false"
        >
          Invalid nameserver entry
        </ngb-alert>
      </div>
      <div class="col-auto align-self-end mt-1">
        <button
          [disabled]="form.invalid"
          class="btn btn-primary"
          type="submit"
          i18n
        >
          Change nameservers
        </button>
      </div>
    </div>
  </div>
</form>
