<div class="modal-header">
  <h4 class="modal-title">{{ title | localizeMessage }}</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-2">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col-auto">
      {{ content | localizeMessage }}
      <div [ngSwitch]="true">
        <p *ngSwitchCase="isAdditionalContentString()">
          {{ additionalContent }}
        </p>
        <p *ngSwitchCase="isAdditionalContentLocalizedMessage()">
          {{ additionalContent | localizeMessage }}
        </p>
        <div *ngSwitchCase="isAdditionalContentArray()">
          <div *ngFor="let element of additionalContent">
            <p>{{ element }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    (click)="cancelModal()"
    *ngIf="cancelObservable"
    class="btn btn-block btn-secondary"
    i18n
    i18n="cancel"
    type="button"
  >
    Cancel
  </button>
</div>
