<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <div class="row flex-row align-items-center">
      <div class="col col-auto">
        <img alt="syncosync" src="assets/images/logo.png" />
      </div>
      <div class="col col-auto text-center">
        <app-sync-status-dot [size]="50"></app-sync-status-dot>
      </div>
      <div class="col col-auto text-center">
        <app-single-line-notification></app-single-line-notification>
      </div>
    </div>
  </div>
</nav>
