<div class="row flex-row">
  <h1>Fresh Setup / Remote Recovery</h1>
  <span i18n>
    You have formatted the disks.<br />
    If you happen to have previously setup a synchronization with another
    syncosync box, you may now restore the data (e.g. in case of a
    defect/incident of your old syncosync box) from it.<br />
    Remote recovery is possible in 2 ways:
    <ul>
      <li>
        By providing a configuration backup (which you should have previously
        received via e-mails regularly) and the password at the time of creation
        thereof. This method needs no interaction with your syncosync partner.
      </li>
      <li>
        Setting up synchronization with your previous syncosync partner and then
        either using the password of the configuration last used to restore all
        configurations or only syncing the data. For this method, your syncosync
        partner should be at the UI of his syncosync system at the same time.
      </li>
    </ul>
  </span>
</div>
<div class="row flex-row mt-2 justify-content-end">
  <div class="col col-auto">
    <button
      (click)="continueFreshSetup()"
      class="btn btn-primary btn-block"
      i18n="remoteRecovery_fresh_setup_button"
      type="button"
    >
      Fresh setup
    </button>
  </div>
  <div class="col col-auto">
    <button
      (click)="remoteRecoveryUsingConfigurationBackup()"
      class="btn btn-primary btn-block"
      i18n="remoteRecovery_configuration_backup_button"
      type="button"
    >
      Remote Recovery (configuration backup)
    </button>
  </div>
</div>
