<div *ngIf="model" class="sshPortChanger">
  <form #form="ngForm" (ngSubmit)="onSubmit()" id="sshPortForm">
    <div class="row">
      <div class="col">
        <h5 i18n>Remote SSH Port Configuration</h5>
      </div>
    </div>
    <div class="row">
      <div class="col" i18n>
        This page allows you to change the listening port for the remote
        syncosync partner.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div
          *ngIf="helpStateService.isShowHelp()"
          class="help-block alert alert-info"
          i18n="SshPortHelp"
          id="sshporthelp"
          role="alert"
        >
          It is important, that this port is also forwarded by your router to
          the internet. If you do not know how to do that, search for
          "portforwading" and the brand of your router in the internet. The
          default value is 55055 and it should normally not be changed.<br />
          Keep in mind that the internal SSH port that your backup accounts use
          for backups will stay at the default port 22 (TCP) and is not
          changeable.
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <label for="remote_listening_port" i18n>Remote listening port:</label>
        <input
          #port
          [(ngModel)]="model.port"
          class="form-control required"
          id="remote_listening_port"
          max="65535"
          min="1"
          name="remote_listening_port"
          pattern="[0-9]*"
          placeholder="55055"
          type="number"
        />
        <ngb-alert *ngIf="!port.checkValidity()" [dismissible]="false">
          Invalid port
        </ngb-alert>
      </div>
      <div class="col-auto align-self-end mt-1">
        <button
          [disabled]="!form.dirty || form.pristine || form.invalid"
          class="btn btn-primary"
          type="submit"
          i18n
        >
          Change SSH port
        </button>
      </div>
    </div>
  </form>
</div>
