<a
  (click)="showDetails = !showDetails"
  class="list-group-item list-group-item-action flex-column align-items-start"
  id="{{ account.name }}_drop"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      {{ account.name }}
    </h5>
    {{ account.rlongname }}
  </div>
  <div class="mb-1">
    <div *ngIf="showDetails" id="{{ account.name }}_details">
      <div class="row">
        <div class="col-auto">
          <label i18n>Space used:</label>
          <br />
          <span
            >{{ account.space_used | bytesToHumanReadableSize }} ({{
              account.space_used
                | quotaUsedPercentage
                  : latestStatus?.total_size
                  : account.max_space_allowed
                | number: '1.0-0'
            }}
            %)</span
          >
          <span
            >&nbsp;<app-accountstatus-dot
              [account]="account"
              [status]="this.latestStatus"
            ></app-accountstatus-dot
          ></span>
        </div>
        <div class="col-auto">
          <label i18n>Last Access:</label>
          <br />
          <span>{{
            account.last_access == 0
              ? 'never'
              : (account.last_access * 1000 | date)
          }}</span>
          <span
            >&nbsp;<app-accountstatus-overdue
              [account]="account"
              [status]="this.latestStatus"
            ></app-accountstatus-overdue
          ></span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-auto">
          <label i18n>Quota:</label><br />
          <span i18n id="infoQuotaOfAccount"
            >{{
              (this.latestStatus.total_size * account.max_space_allowed) / 100
                | bytesToHumanReadableSize
            }}
            ({{ account.max_space_allowed }} %) of
            {{ this.latestStatus.total_size | bytesToHumanReadableSize }}</span
          >
        </div>
        <div class="col-auto">
          <label i18n>SSH key fingerprint:</label><br />
          <span id="infoKeyFingerprint">{{ account.key_fingerprint }}</span>
        </div>
      </div>
      <!-- Basic settings row -->
      <hr />
      <div class="row">
        <div class="col-auto">
          <label i18n>Mail address:</label>
          <br />
          <span id="infoMailAddressOfAccount">{{ account.mail_address }}</span>
        </div>
        <div class="col-auto">
          <label i18n>Info-level: </label>
          <br />
          <span
            [ngSwitch]="account.mail_info_level"
            id="infoInfoLevelOfAccount"
          >
            <span *ngSwitchCase="mailInfoLevels.NONE" i18n>None</span>
            <span *ngSwitchCase="mailInfoLevels.ERROR" i18n>Error</span>
            <span *ngSwitchCase="mailInfoLevels.WARNING" i18n>Warning</span>
            <span *ngSwitchCase="mailInfoLevels.INFO" i18n>Info</span>
          </span>
          <span class="help-block">&nbsp;</span>
        </div>
      </div>
      <!-- mail settings row -->
      <hr />
      <div class="row">
        <div class="col-auto">
          <label i18n>Last Mail:</label>
          <br />
          <span id="infoLastMail">{{
            account.last_mail == 0 ? '' : (account.last_mail * 1000 | date)
          }}</span>
        </div>
        <div class="col-auto">
          <label i18n>Remind:</label>
          <br />
          <span i18n id="infoRemindDurationOfAccount"
            >{{ account.remind_duration }} days</span
          >
        </div>
        <div class="col-auto">
          <label i18n>Repeat:</label>
          <br />
          <span i18n id="infoMailRepetitionPeriod"
            >{{ account.info_period }} days</span
          >
        </div>
      </div>
      <!-- Dates row 1 -->
      <hr />
      <div class="row">
        <div class="col-auto">
          <button
            (click)="editModal($event, account)"
            class="btn btn-outline-secondary"
            i18n-ngbTooltip
            id="{{ account.name }}_modAccount"
            ngbTooltip="Edit"
          >
            <i class="bi-pencil" style="color: black"></i>
          </button>
        </div>
        <div class="col-auto">
          <button
            (click)="deleteModal($event, account)"
            class="btn btn-outline-secondary"
            i18n-ngbTooltip
            id="{{ account.name }}_delAccount"
            ngbTooltip="Delete"
          >
            <i class="bi-trash" style="color: black"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!showDetails" id="{{ account.name }}_no_details">
      <div class="row">
        <div class="col-auto">
          <label i18n>Space used:</label>
          <br />
          <span
            >{{ account.space_used | bytesToHumanReadableSize }} ({{
              account.space_used
                | quotaUsedPercentage
                  : latestStatus?.total_size
                  : account.max_space_allowed
                | number: '1.0-0'
            }}
            %)</span
          >
          <span
            >&nbsp;<app-accountstatus-dot
              [account]="account"
              [status]="this.latestStatus"
            ></app-accountstatus-dot
          ></span>
        </div>
        <div class="col-auto">
          <label i18n>Last Access:</label>
          <br />
          <span>{{
            account.last_access == 0
              ? 'never'
              : (account.last_access * 1000 | date)
          }}</span>
          <span
            >&nbsp;<app-accountstatus-overdue
              [account]="account"
              [status]="this.latestStatus"
            ></app-accountstatus-overdue
          ></span>
        </div>
      </div>
    </div>
  </div>
</a>
