<form (ngSubmit)="onSubmit()" id="factoryResetForm">
  <div class="row mt-2 justify-content-end">
    <div class="col" i18n>
      Reboot should not be required, but as you may know it from other
      systems...
    </div>
    <div class="col col-auto">
      <button id="rebootSystem" class="btn btn-primary" type="submit" i18n>
        Reboot
      </button>
    </div>
  </div>
</form>
