<div class="card">
  <h4 class="card-header">Switch back</h4>
  <div class="card-body">
    <div i18n>
      <p>
        You may resume to normal operation of your box by entering your own
        password.
      </p>
    </div>
    <form
      *ngIf="model"
      #form="ngForm"
      (ngSubmit)="onSubmit()"
      id="switchBackForm"
      novalidate
    >
      <div class="form-group">
        <label for="password">Local admin-password</label>
        <input
          [ngClass]="{ 'is-invalid': form.errors }"
          id="password"
          class="form-control"
          name="password"
          [(ngModel)]="model.config_backup_password"
          type="password"
        />
        <div *ngIf="form.errors" class="invalid-feedback">
          <div *ngIf="form.errors.required">Password is required</div>
        </div>
      </div>
      <br />
      <div class="row justify-content-end">
        <div class="col col-auto">
          <div class="form-group">
            <button type="submit" class="btn btn-danger">Switch back</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
