<div class="container">
  <div class="row">
    <div class="col">
      <h3>Synchronization Setup</h3>
    </div>
  </div>
  <nav #nav="ngbNav" class="nav-tabs" ngbNav>
    <ng-container ngbNavItem>
      <a ngbNavLink name="trafficshaping_tab" i18n>Trafficshaping</a>
      <ng-template ngbNavContent>
        <app-trafficshaping-form></app-trafficshaping-form>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink name="remote_keys_tab" i18n>Remote Host & Keys</a>
      <ng-template ngbNavContent>
        <app-key-exchange-tab></app-key-exchange-tab>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink name="partitioning_tab" i18n>Partitioning</a>
      <ng-template ngbNavContent>
        <app-partitioning-tab></app-partitioning-tab>
      </ng-template>
    </ng-container>
  </nav>
</div>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
