<div id="page-content-wrapper">
  <app-statusbar></app-statusbar>

  <div *ngIf="setupUiSwitchingService.isShowSetupComponents()">
    <app-navbar></app-navbar>
    <div
      *ngIf="
        sysstateService.getLatestSysstate().actmode === SystemMode.DISASTER_SWAP
      "
      class="help-block alert alert-warning"
      i18n="disasterSwapNoConfigBackupWarning"
      role="alert"
    >
      The system is in Disaster Swap mode. Not all settings are possible to
      change. You can change configuration here, but the configuration changes
      will not be backuped.
    </div>
  </div>
  <div class="m-1 container container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
