<!-- <button class="btn" id="question-button">
    <i class="bi-question-circle" ngbTooltip="Help" i18n-ngbTooltip (click)="helpStateService.toggleShowHelp()"></i>
</button> -->
<button
  (click)="helpStateService.toggleShowHelp()"
  class="btn"
  data-placement="bottom"
  data-toggle="tooltip"
  id="shaping-button"
>
  <i
    *ngIf="helpStateService.isShowHelp()"
    class="bi-question-circle-fill"
    i18n-ngbTooltip
    ngbTooltip="Switch Help Mode"
  ></i>
  <i
    *ngIf="!helpStateService.isShowHelp()"
    class="bi-question-circle"
    i18n-ngbTooltip
    ngbTooltip="Switch Help Mode"
  ></i>
</button>
