<div class="row">
  <div class="col">
    <h4 i18n>Adjust Partitions</h4>
    <p i18n>
      Please select a distribution of the available disk space. The left side
      represents storage available to you (local). The remaining amount will be
      the amount of disk space available to your buddy.
    </p>
  </div>
</div>
<div class="row" *ngIf="this.model?.isAssumedToBeResized()">
  <div class="col">
    The limits left and right represent already allocated data.
  </div>
</div>

<form *ngIf="model != null" (ngSubmit)="onSubmit()">
  <!-- <app-partitioning-data-display
    [model]="model"
  ></app-partitioning-data-display> -->
  <div class="row">
    <div class="col mx-4">
      <div class="custom-slider">
        <ngx-slider
          [(value)]="value"
          [options]="options"
          (userChangeEnd)="onUserChangeEnd($event)"
        ></ngx-slider>
      </div>
    </div>
  </div>
  <div class="row flex-row mt-3 justify-content-end">
    <div class="col col-auto">
      <button class="btn btn-primary" type="submit">Partition Volume</button>
    </div>
  </div>
</form>
