<form (submit)="onSubmit()" id="trafficShapingForm">
  <div class="row">
    <div class="col">
      <label for="daySlider" i18n>Day Start</label>
      <ngx-slider
        [(value)]="valueDay"
        [options]="options2"
        id="daySlider"
      ></ngx-slider>
    </div>
  </div>
  <div class="form-group mt-2 row">
    <div class="col align-self-auto">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="dayStart"
        i18n="daySlideHelp"
      >
        Select which time your day starts. At this time your Up-/Download day
        limits will be used.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="nightSlider" i18n> Night Start</label>
      <ngx-slider
        [(value)]="valueNight"
        [options]="options1"
        id="nightSlider"
      ></ngx-slider>
    </div>
  </div>
  <div class="form-group mt-2 row">
    <div class="col align-self-end">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="nightStart"
        i18n="nightSlideHelp"
      >
        Select which time your night starts. At this time your Up-/Download
        night limits will be used.
      </div>
    </div>
  </div>
  <div *ngIf="model" class="mt-2 row">
    <div class="col-sm-6 col-md-6 col-lg-3 align-self-end">
      <label for="bandwithUpDay" i18n>Upload Limit Day</label>
      <div class="input-group">
        <input
          name="bandwithUpDay"
          class="form-control"
          id="bandwithUpDay"
          type="number"
          [(ngModel)]="model.out_day"
        />
        <div class="input-group-append">
          <span class="input-group-text" i18n>Mbit/s</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 align-self-end">
      <label for="bandwithDownDay" i18n>Download Limit Day</label>
      <div class="input-group">
        <input
          name="bandwithDownDay"
          class="form-control"
          id="bandwithDownDay"
          type="number"
          [(ngModel)]="model.in_day"
        />
        <div class="input-group-append">
          <span class="input-group-text" i18n>Mbit/s</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 align-self-end">
      <label for="bandwithUpNight" i18n> Upload Limit Night </label>
      <div class="input-group">
        <input
          name="bandwithUpNight"
          class="form-control"
          id="bandwithUpNight"
          type="number"
          [(ngModel)]="model.out_night"
        />
        <div class="input-group-append">
          <span class="input-group-text" i18n>Mbit/s</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 align-self-end">
      <label for="bandwithDownNight" i18n>Download Limit Night</label>
      <div class="input-group">
        <input
          name="bandwithDownNight"
          class="form-control"
          id="bandwithDownNight"
          type="number"
          [(ngModel)]="model.in_night"
        />
        <div class="input-group-append">
          <span class="input-group-text" i18n>Mbit/s</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mt-2 row">
    <div class="col align-self-auto" style="padding-bottom: 0px">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="limitHelp"
        i18n="limitHelp"
      >
        Select which limits you want to choose for daily and nightly Up- and
        Downloads. There is no bandwith limit. For a high limit choose a value
        over 10000 Mbit/s (Default).
      </div>
    </div>
  </div>
  <div class="form-group mt-2 row justify-content-end">
    <div class="col col-auto">
      <button type="submit" class="btn btn-primary" i18n="save">Save</button>
    </div>
  </div>
</form>
