<h4 i18n>Remote Host & Keys</h4>
<div class="row">
  <div class="col">
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info"
      i18n="syncSetupHelp"
      id="syncsetuphelp"
      role="alert"
    >
      In order to be able to properly sync your backups, your syncosync-box
      needs a connection to the sync-partner (remote host). This is possible by
      setting the remote host and port information and to have keys on both
      systems which are known to the other system.
      <br />
      If only your partners remote host name and/or the port has changed, you
      can adapt this without new exchange of keys.
      <br />
      Keep in mind that a fresh key exchange is also needed if either party
      generates a new key!
    </div>
  </div>
</div>
<app-generate-sync-key #generateSyncKeyComponent></app-generate-sync-key>
<hr />
<div
  *ngIf="
    generateSyncKeyComponent.model != null &&
    generateSyncKeyComponent.model.fingerprint?.length > 0
  "
>
  <app-sync-setup-remote-config
    #syncSetupRemoteConfigComponent
    (formFinished)="
      enableKeyExchangeButtons(
        keyExchangeButtons,
        syncSetupRemoteConfigComponent
      )
    "
    (modelChanged)="
      enableKeyExchangeButtons(
        keyExchangeButtons,
        syncSetupRemoteConfigComponent
      )
    "
  ></app-sync-setup-remote-config>
  <app-remote-key #remoteKeyComponent></app-remote-key>
  <hr />
  <app-key-exchange-buttons
    #keyExchangeButtons
    (configurationFinished)="
      remoteKeyComponent.updateRemoteKey();
      this.configurationFinished.emit($event)
    "
  ></app-key-exchange-buttons>
</div>
