<div class="row mt-2 justify-content-end">
  <div class="col" i18n>
    If you want to disconnect your syncosync box from power, it is safer to shut
    it down first.
  </div>
  <div class="col col-auto">
    <form (ngSubmit)="onSubmit()" id="factoryResetForm">
      <button id="shutdownSystem" class="btn btn-primary" type="submit" i18n>
        Shutdown
      </button>
    </form>
  </div>
</div>
