<div class="row">
  <div class="col">
    <h3 i18>syncosync Admin Password</h3>
    <p i18n>
      This is now the time to set a new admin password. Staying with the default
      password is not a good idea as this password is also used for encrypting
      the configuration backups and for accessing the syncosync box for disaster
      swap. So choose wisely a password which is easy enough to remember in case
      you lost everything else!
    </p>
  </div>
</div>
<app-admin-password-form
  (formFinished)="configurationFinished.emit($event)"
></app-admin-password-form>
