<ng-template #htmlContent>
  <span *ngIf="updateOverdue > 0 && account?.last_access !== 0" i18n
    >Update overdue for {{ updateOverdue }} days</span
  >
  <span *ngIf="account?.last_access === 0" i18n
    >Account was never accessed</span
  >
</ng-template>
<i
  class="bi-exclamation-octagon-fill"
  [ngClass]="getColor()"
  [ngbTooltip]="htmlContent"
></i>
