<nav
  *ngIf="setupUiSwitchingService.isShowSetupComponents()"
  class="navbar navbar-expand-sm navbar-light bg-light"
>
  <div
    *ngIf="setupUiSwitchingService.isShowSetupComponents()"
    class="container-fluid"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/syncosync/networksetup"
          name="network_setup"
          i18n
          >Networking</a
        >
      </li>
      <li
        *ngIf="
          sysstateService.getLatestSysstate().actmode !==
          SystemMode.DISASTER_SWAP
        "
        class="nav-item"
      >
        <a
          class="nav-item nav-link"
          routerLink="/syncosync/syncsetup"
          name="sync_setup"
          i18n
          >Sync</a
        >
      </li>
      <li
        *ngIf="
          sysstateService.getLatestSysstate().actmode !==
          SystemMode.DISASTER_SWAP
        "
        class="nav-item"
      >
        <a
          class="nav-item nav-link"
          routerLink="/syncosync/mailsetup"
          name="mail_setup"
          i18n
          >Mails</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLink="/syncosync/systemsetup"
          name="system_setup"
          i18n
          >System</a
        >
      </li>
    </ul>
  </div>
</nav>
