<div class="modal-header">
  <h4 class="modal-title">{{ title | localizeMessage }}</h4>
  <div class="pull-right">
    <app-toggle-help-button></app-toggle-help-button>
    <button
      (click)="closeModal()"
      class="btn"
      data-placement="bottom"
      data-toggle="tooltip"
      id="close-modal-button"
    >
      <i class="bi-x" i18n-ngbTooltip ngbTooltip="Close"></i>
    </button>
  </div>
</div>

<div class="modal-body">
  <div class="row" *ngIf="additionalContent">
    <div class="modal-body">
      <div [ngSwitch]="true">
        <p *ngSwitchCase="isAdditionalContentString()">
          {{ additionalContent }}
        </p>
        <p *ngSwitchCase="isAdditionalContentLocalizedMessage()">
          {{ additionalContent | localizeMessage }}
        </p>
        <div *ngSwitchCase="isAdditionalContentArray()">
          <div *ngFor="let element of additionalContent">
            <p>{{ element }}</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="row">
    <ng-template appSetupPartial></ng-template>
  </div>
</div>
