<div class="row">
  <div class="col">
    <h3 i18>Volume Partitioning</h3>
    <app-partitioning-selection
      (formFinished)="configurationFinished.emit(null)"
    ></app-partitioning-selection>
  </div>
</div>
