<div class="container">
    <div class="row">
        <div class="col">
            <h3 i18n>E-Mail Setup</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="helpStateService.isShowHelp()" class="help-block alert alert-info" i18n="mailSetupHelp"
                 id="mailsetuphelp"
                 role="alert">
                When everything is setup fine and working, you rarely look into the WebUI of your syncosync box again.
                To avoid missing
                critical states of the system, it will send regulary reminders informing about errors, warning or
                information to account
                owners and the sosadmin.
                <br>
                So setting up this is important to get health diagnostics of your syncosync system and also the status
                of the
                access and usage of accounts.
            </div>
        </div>
    </div>
    <app-email-setup-form></app-email-setup-form>
</div>