<div class="row">
  <div class="col">
    <h4 i18n>Lead Partitioning</h4>
    <p i18n>
      After you have adjusted the partitions on your side, you should send this
      partitioning data to your syncosync partner. He has to accept this
      partitioning and then you are ready to go with secure syncing as both
      syncosync volumes are setup perfectly equal.
    </p>
  </div>
</div>
<div class="row justify-content-end">
  <div class="col-auto">
    <button
      (click)="sendPartitioningData()"
      [disabled]="disableButtons"
      class="btn btn-primary btn-block"
      type="button"
    >
      Send partitioning data
    </button>
  </div>
</div>
