<ng-template appSetupPartial></ng-template>

<div *ngIf="showBackButton || showSkipButton">
  <hr />
  <div class="row flex-row mt-2 justify-content-end">
    <div class="col col-auto" *ngIf="showBackButton">
      <button
        (click)="loadComponent(false)"
        class="btn btn-block btn-info"
        i18n="back"
        type="button"
        id="back"
      >
        <i class="bi bi-chevron-left"></i> Back
      </button>
    </div>
    <div class="col col-auto" *ngIf="showSkipButton">
      <button
        (click)="loadComponent(true)"
        class="btn btn-block btn-info"
        i18n="next"
        type="button"
        id="next"
      >
        Next <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
