<div class="row">
  <div class="col">
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info adminpasswordhelp"
      i18n="remoteKeyHelp"
      id="remotekeyhelp"
      role="alert"
    >
      The remote key is received from the syncosync remote host in the key
      exchange procedure. If you terminate the sychronization, this remote key
      will be deleted and to catch up synchronization again a key exchange is
      necessary. There will be no loss of data on any side.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
    <label for="remote_key">Remote key:</label>
    <div *ngIf="model" id="remote_key">{{ model.fingerprint }}</div>
  </div>
  <div class="col-auto">
    <br />
    <button
      (click)="onSubmit()"
      [disabled]="model == null || model.fingerprint.length == 0"
      class="btn btn-danger"
      type="button"
    >
      Delete remote key
    </button>
  </div>
</div>
