<div class="modal-header">
  <h4 class="modal-title">{{ title | localizeMessage }}</h4>
  <i
    class="bi-x"
    (click)="cancelModal()"
    ngbTooltip="Close"
    i18n-ngbTooltip
  ></i>
</div>

<div class="modal-body">
  {{ content | localizeMessage }}
  <div [ngSwitch]="true">
    <p *ngSwitchCase="isAdditionalContentString()">{{ additionalContent }}</p>
    <p *ngSwitchCase="isAdditionalContentLocalizedMessage()">
      {{ additionalContent | localizeMessage }}
    </p>
    <div *ngSwitchCase="isAdditionalContentArray()">
      <div *ngFor="let element of additionalContent">
        <p>{{ element }}</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    (click)="cancelModal()"
    class="btn btn-block btn-secondary"
    i18n
    i18n="cancel"
    type="button"
  >
    Cancel
  </button>
  <button
    (click)="confirmModal()"
    class="btn btn-block btn-primary"
    i18n
    i18n="confirm"
    type="button"
  >
    Confirm
  </button>
</div>
