<div *ngIf="model">
  <p>
    Already allocated data locally:
    {{ model.local_min | extendsToBytes | bytesToHumanReadableSize }}
  </p>
  <p>
    Already allocated data remotely:
    {{ model.remote_min | extendsToBytes | bytesToHumanReadableSize }}
  </p>
  <p>
    Free disk space (not partitioned):
    {{ model.free | extendsToBytes | bytesToHumanReadableSize }}
  </p>
  <p>
    Partitioned locally:
    {{ model.local | extendsToBytes | bytesToHumanReadableSize }}
  </p>
  <p>
    Partitioned remotely:
    {{ model.remote | extendsToBytes | bytesToHumanReadableSize }}
  </p>
  <p>
    Total size:
    {{
      model.remote + model.local + model.free
        | extendsToBytes
        | bytesToHumanReadableSize
    }}
  </p>
  <p>
    Total partitioned:
    {{ model.remote + model.local | extendsToBytes | bytesToHumanReadableSize }}
  </p>
</div>
