<form
  #form="ngForm"
  *ngIf="model != null"
  (ngSubmit)="onSubmit()"
  class="hostnameChanger"
>
  <div class="row">
    <div class="col">
      <h5 i18n>Host Name Configuration</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        i18n="HostNameHelp"
        id="hostnamehelp"
        role="alert"
      >
        The hostname is used for yourself to identify your syncosync system in
        your network. If your router and local nameserver is set up correctly,
        you can use the hostname to connect to your syncosync box. If you have
        no idea, just stay with syncosync, as this is maybe the only syncosync
        box in your network.
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <label for="hostname" i18n>Hostname:</label>
        <input
          #hostname="ngModel"
          class="form-control required"
          id="hostname"
          name="hostname"
          type="text"
          [(ngModel)]="model.hostname"
          validateHostname
          required
        />
        <ngb-alert *ngIf="hostname.errors" [dismissible]="false" i18n>
          Invalid hostname
        </ngb-alert>
      </div>
      <div class="col-auto align-self-end mt-1">
        <button
          [disabled]="!form.dirty || form.pristine || form.invalid"
          class="btn btn-primary"
          type="submit"
          i18n
        >
          Change hostname
        </button>
      </div>
    </div>
  </div>
</form>
