<form
  #form="ngForm"
  (ngSubmit)="onSubmit()"
  *ngIf="model != null"
  id="emailSetupForm"
>
  <div class="row">
    <div class="col">
      <h4 i18n>Names and addresses</h4>
    </div>
  </div>
  <div class="my-1 row">
    <div class="col">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="mailsetupnameshelp"
        i18n="mailSetupNamesHelp"
      >
        The sender name is shown in the From line of your e-mail receivers. So
        choose a meaningful name like "SOS Admin". The sender address should be
        a e-mail address. But be careful: some e-mail provider only allow the
        same sender address as the username in the credentials!
        <br />
        The admin contact address is the e-mail address, which is used to send
        admin e-mails about the general status and a report of account issues
        (if there are). This e-mail is send not more often than any n days.
      </div>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-12 col-md-6">
      <label for="name" i18n>Sender name</label>
      <input
        [(ngModel)]="model.sender_name"
        class="form-control"
        id="name"
        name="name"
        placeholder="syncosync Housekeeper"
      />
    </div>
    <div class="col-12 col-md-6">
      <label for="username" i18n>Sender Address</label>
      <input
        [(ngModel)]="model.mail_from"
        class="form-control"
        id="username"
        name="username"
        placeholder="syncosync@example.com"
        validateMailAddress
      />
    </div>
  </div>

  <div class="row my-1">
    <div class="col-12 col-md-6">
      <label for="receiverAddress" i18n>Admin contact email</label>
      <input
        [(ngModel)]="model.admin_mail_address"
        class="form-control"
        id="receiverAddress"
        name="receiverAddress"
        placeholder="admin@example.com"
        validateMailAddress
      />
    </div>
    <div class="col-6 col-md-3">
      <label for="infoPeriod" i18n> Remind every</label>
      <div class="input-group">
        <input
          [(ngModel)]="model.admin_info_period"
          class="form-control"
          id="infoPeriod"
          max="31"
          min="1"
          name="infoPeriod"
          type="number"
          validateInfoperiod
        />
        <div class="input-group-append">
          <span class="input-group-text" i18n>days</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <label for="mailInfoLevel" i18n>E-Mail Info Level</label>
      <select
        name="mailInfoLevel"
        class="form-control"
        id="mailInfoLevel"
        [(ngModel)]="model.mail_info_level"
      >
        <option [ngValue]="mailInfoLevelNone" i18n>None</option>
        <option [ngValue]="mailInfoLevelError" i18n>Error</option>
        <option [ngValue]="mailInfoLevelWarning" i18n>Warning</option>
        <option [ngValue]="mailInfoLevelInfo" i18n>Info</option>
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h4 i18n>SMTP Server</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div
        *ngIf="helpStateService.isShowHelp()"
        class="help-block alert alert-info"
        role="alert"
        id="smarthosthelp"
        i18n="smartHostHelp"
      >
        You should have the following information from your e-mail provider. It
        is recommended - if possible - to set up a dedicated e-mail account for
        this.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="hostname" i18n>Hostname</label>
      <input
        [(ngModel)]="model.smtp_host"
        class="form-control"
        id="hostname"
        name="hostname"
        type="text"
        validateHostname
      />
    </div>
    <div class="col-6 col-md-3">
      <label for="portOut" i18n>Port</label>
      <input
        [(ngModel)]="model.smtp_port"
        class="form-control"
        id="portOut"
        max="65536"
        min="1"
        name="port"
        type="number"
        validatePort
      />
    </div>
    <div class="col-6 col-md-3">
      <label for="sslOut" i18n>Security</label>
      <select
        [(ngModel)]="model.ssl_type"
        class="form-control"
        id="sslOut"
        name="sslOut"
      >
        <option [ngValue]="sslTypeNoSecurity" i18n>None</option>
        <option [ngValue]="sslTypeSslTls" i18n>SSL/TLS</option>
        <option [ngValue]="sslTypesStarttls" i18n>STARTTLS</option>
      </select>
    </div>
  </div>
  <div class="mt-2 row">
    <div class="col-12 col-md-6">
      <label for="credential" i18n>Username</label>
      <input
        [(ngModel)]="model.smtp_user"
        class="form-control"
        id="credential"
        name="credential"
        type="text"
      />
    </div>
    <div class="col-12 col-md-6">
      <label for="password" i18n>Passwort</label>
      <input
        [(ngModel)]="model.smtp_passwd"
        class="form-control"
        id="password"
        name="password"
        type="password"
      />
    </div>
  </div>

  <div class="my-3 row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-secondary" (click)="sendTestMail()" i18n>
        Send Test E-Mail
      </button>
    </div>
    <div class="col-auto">
      <button
        [disabled]="!form.dirty || form.invalid || form.pristine"
        class="btn btn btn-primary"
        i18n
        type="submit"
      >
        Save
      </button>
    </div>
  </div>
</form>
<div *ngIf="model == null"></div>
