.error {
  background-color: rgb(255, 58, 58);
}

.warning {
  background-color: yellow;
}

.ok {
  background-color: #aaffaa;
}

.round {
  border-radius: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated {
  /* background-color: #0CB1C4; */
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
