<ng-template #htmlOkContent>
  <span *ngIf="statusService.getStatus()?.syncup === syncStatus.IDLE">
    <span i18n>Sync to partner has ended</span>&nbsp;
    <span *ngIf="statusService.getStatus()?.syncup_change_since !== 0" i18n
      >at</span
    >&nbsp;
  </span>
  <span *ngIf="statusService.getStatus()?.syncup === syncStatus.ACTIVE">
    <span i18n>Sync to partner is active</span>&nbsp;
    <span *ngIf="statusService.getStatus()?.syncup_change_since !== 0" i18n
      >since</span
    >&nbsp;
  </span>
  <span *ngIf="statusService.getStatus()?.syncup_change_since !== 0">
    {{ statusService.getStatus()?.syncup_change_since * 1000 | date: 'short' }}
  </span>
  <br />
  <span *ngIf="statusService.getStatus()?.syncdown === syncStatus.IDLE">
    <span i18n>Sync from partner has ended</span>&nbsp;
    <span *ngIf="statusService.getStatus()?.syncdown_change_since !== 0" i18n
      >at</span
    >&nbsp;
  </span>
  <span *ngIf="statusService.getStatus()?.syncdown === syncStatus.ACTIVE">
    <span i18n>Sync from partner is active</span>&nbsp;
    <span *ngIf="statusService.getStatus()?.syncdown_change_since !== 0" i18n
      >since</span
    >&nbsp;
  </span>
  <span *ngIf="statusService.getStatus()?.syncdown_change_since !== 0">
    {{
      statusService.getStatus()?.syncdown_change_since * 1000 | date: 'short'
    }}
  </span>
</ng-template>
<ng-template #htmlWarningContent>
  <span *ngIf="statusService.getStatus()?.remote_up !== remoteUpStatus.UP" i18n
    >Issue with remote host</span
  >&nbsp;
  <span *ngIf="statusService.getStatus()?.remote_down_since !== 0"
    ><span i18n>since</span>&nbsp;
    {{
      statusService.getStatus()?.remote_down_since * 1000 | date: 'short'
    }}</span
  >
</ng-template>
<ng-template #htmlRRContent>
  <span *ngIf="statusService.getStatus()?.remote_up !== remoteUpStatus.UP" i18n
    >Remote Recovery stopped<br />Issue with remote host</span
  >&nbsp;
  <span *ngIf="statusService.getStatus()?.remote_down_since !== 0"
    ><span i18n>since</span>&nbsp;
    {{
      statusService.getStatus()?.remote_down_since * 1000 | date: 'short'
    }}</span
  >
  <span *ngIf="statusService.getStatus()?.remote_up === remoteUpStatus.UP" i18n>
    Remote Recovery in progress
  </span>
</ng-template>
<ng-template #htmlDefaultNoSyncContent>
  <span
    *ngIf="statusService.getStatus()?.actmode === systemMode.DEFAULT_NO_SYNC"
    i18n
  >
    Sync is switched off</span
  >
  <span
    *ngIf="statusService.getStatus()?.remote_up === remoteUpStatus.NOT_SET"
    i18n
    >: Remote Sync is not configured</span
  ><br />
</ng-template>
<div [ngSwitch]="this.statusIconToShow" class="dot" id="remotehostFrame">
  <div
    *ngSwitchCase="syncDisplayState.ACTIVE"
    class="round ok"
    [ngbTooltip]="htmlOkContent"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.9"
      [attr.height]="size * 0.9"
      fill="currentColor"
      class="bi bi-arrow-repeat rotated icncenter"
      viewBox="0 0 16 16"
    >
      <path
        d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
      />
      <path
        fill-rule="evenodd"
        d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
      />
    </svg>
  </div>
  <div
    *ngSwitchCase="syncDisplayState.OK"
    class="round ok"
    [ngbTooltip]="htmlOkContent"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.9"
      [attr.height]="size * 0.9"
      fill="currentColor"
      class="bi bi-check icncenter"
      viewBox="0 0 16 16"
    >
      <path
        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
      />
    </svg>
  </div>
  <div
    *ngSwitchCase="syncDisplayState.WARNING"
    class="text-center round error"
    [ngbTooltip]="htmlWarningContent"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.75"
      [attr.height]="size * 0.75"
      fill="currentColor"
      class="bi bi-exclamation-octagon"
      viewBox="0 0 16 16"
    >
      <path
        d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"
      />
      <path
        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
      />
    </svg>
  </div>
  <div
    *ngSwitchCase="syncDisplayState.DISASTER_SWAP"
    class="text-center round warning"
    i18n-ngbTooltip
    ngbTooltip="Disaster Swap"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.8"
      [attr.height]="size * 0.8"
      fill="currentColor"
      class="bi bi-exclamation-octagon"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm6.43-5.228a7.025 7.025 0 0 1-3.658 3.658l-1.115-2.788a4.015 4.015 0 0 0 1.985-1.985l2.788 1.115zM5.228 14.43a7.025 7.025 0 0 1-3.658-3.658l2.788-1.115a4.015 4.015 0 0 0 1.985 1.985L5.228 14.43zm9.202-9.202-2.788 1.115a4.015 4.015 0 0 0-1.985-1.985l1.115-2.788a7.025 7.025 0 0 1 3.658 3.658zm-8.087-.87a4.015 4.015 0 0 0-1.985 1.985L1.57 5.228A7.025 7.025 0 0 1 5.228 1.57l1.115 2.788zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
      />
    </svg>
  </div>
  <div
    *ngSwitchCase="syncDisplayState.SETUP_DISKS"
    class="text-center round warning"
    i18n-ngbTooltip
    ngbTooltip="Disk Setup needed"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.8"
      [attr.height]="size * 0.8"
      fill="currentColor"
      class="bi bi-hdd"
      viewBox="0 0 16 16"
    >
      <path
        d="M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
      />
      <path
        d="M16 11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9.51c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198V11zM3.655 4.26 1.592 8.043C1.724 8.014 1.86 8 2 8h12c.14 0 .276.014.408.042L12.345 4.26a.5.5 0 0 0-.439-.26H4.094a.5.5 0 0 0-.44.26zM1 10v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
      />
    </svg>
  </div>
  <div
    *ngSwitchCase="syncDisplayState.SETUP_VOLUMES"
    class="text-center round warning"
    i18n-ngbTooltip
    ngbTooltip="Volume Setup needed"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.8"
      [attr.height]="size * 0.8"
      fill="currentColor"
      class="bi bi-input-cursor"
      viewBox="0 0 16 16"
    >
      <path
        d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4v1zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4z"
      />
      <path
        fill-rule="evenodd"
        d="M8 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13A.5.5 0 0 1 8 1z"
      />
    </svg>
  </div>
  <div
    *ngSwitchCase="syncDisplayState.REMOTE_RECOVERY"
    xclass="text-center round warning"
    [ngClass]="getRRColor() + ' text-center round'"
    i18n-ngbTooltip
    [ngbTooltip]="htmlRRContent"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.8"
      [attr.height]="size * 0.8"
      class="bi bi-bootstrap-reboot"
      viewBox="0 0 16 16"
    >
      <path
        d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z"
      />
      <path
        d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z"
      />
    </svg>
  </div>
  <div
    *ngSwitchCase="syncDisplayState.RR_FINAL"
    class="text-center round ok"
    i18n-ngbTooltip
    ngbTooltip="Remote Recovery finished"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.8"
      [attr.height]="size * 0.8"
      fill="currentColor"
      class="bi bi-bootstrap-reboot"
      viewBox="0 0 16 16"
    >
      <path
        d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z"
      />
      <path
        d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z"
      />
    </svg>
  </div>
  <div
    *ngSwitchCase="syncDisplayState.DEFAULT_NO_SYNC"
    class="text-center round warning"
    i18n-ngbTooltip
    [ngbTooltip]="htmlDefaultNoSyncContent"
    [ngStyle]="{ height: size + 'px', width: size + 'px' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.width]="size * 0.8"
      [attr.height]="size * 0.8"
      fill="currentColor"
      class="bi bi-cloud-slash"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M3.112 5.112a3.125 3.125 0 0 0-.17.613C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13H11l-1-1H3.781C2.231 12 1 10.785 1 9.318c0-1.365 1.064-2.513 2.46-2.666l.446-.05v-.447c0-.075.006-.152.018-.231l-.812-.812zm2.55-1.45-.725-.725A5.512 5.512 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773a3.2 3.2 0 0 1-1.516 2.711l-.733-.733C14.498 11.378 15 10.626 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3c-.875 0-1.678.26-2.339.661z"
      />
      <path d="m13.646 14.354-12-12 .708-.708 12 12-.707.707z" />
    </svg>
  </div>
</div>
