<div class="row">
  <div class="col">
    <h4 i18n>Key Exchange</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info adminpasswordhelp"
      i18n="localSyncKeyHelp"
      id="localsynckeyhelp"
      role="alert"
    >
      For key exchange, the best scenario is to have a voice connection with the
      buddy hosting the remote syncosync system and then to start "Lead
      exchange" on one side and "Follow exchage" on the other side. Afer
      receiving keys on both sides, you should agree with your buddy, that the
      fingerprints are right and accept the keys.<br />
      If something goes wrong at this point it is most probable, that you have
      not setup dyndns in the right way and/or you have not opened up port 55055
      on your internet router to make your syncosync box visible on that port.
    </div>
  </div>
</div>
<div class="row justify-content-end">
  <div class="col col-auto">
    <button
      (click)="initiateLeadKeyExchange()"
      [disabled]="disableButtons"
      class="btn btn-primary btn-block"
      type="button"
    >
      Lead key exchange
    </button>
  </div>
  <div class="col col-auto">
    <button
      (click)="followKeyExchange()"
      [disabled]="disableButtons"
      class="btn btn-primary btn-block"
      type="button"
    >
      Follow key exchange
    </button>
  </div>
</div>
