<div class="modal-header" id="delAccountModal">
    <h4 class="modal-title">Delete {{account.name}}</h4>
    <button (click)="activeModal.dismiss('Cross click')" class='btn' type="button">
        <i class="bi-x" i18n-ngbTooltip ngbTooltip="Close"></i>
    </button>
</div>
<div class="modal-body">
    <p i18n>Do you really want to delete the account {{account.name}} ({{account.rlongname}})?</p>
</div>
<div class="modal-footer">
    <button (click)="activeModal.close('Close click')" class="btn btn-secondary btn-block" i18n="cancel" id="delCancel"
            type="button">
        Cancel
    </button>
    <button (click)="deleteAccount()" class="btn btn-block btn-danger" i18n id="delConfirm" type="button">Delete
        Account
    </button>
</div>
