<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="input-group">
      <input
        #password
        [(ngModel)]="model.password"
        class="form-control"
        id="password"
        name="password"
        type="password"
      />
      <div class="input-group-append">
        <span [ngSwitch]="password.type == 'text'" class="input-group-text">
          <i
            (click)="password.type = 'password'"
            *ngSwitchCase="true"
            class="bi-eye-fill"
            i18n-ngbTooltip
            ngbTooltip="Hide Password"
          ></i>
          <i
            (click)="password.type = 'text'"
            *ngSwitchCase="false"
            class="bi-eye-slash-fill"
            i18n-ngbTooltip
            ngbTooltip="Show Password"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <hr />
  <div class="row flex-row mx-1 justify-content-end">
    <div class="col col-auto my-1">
      <button
        [disabled]="!form.dirty || form.pristine || form.invalid"
        class="btn btn-primary"
        type="submit"
      >
        Submit
      </button>
    </div>
  </div>
</form>
