<div *ngIf="notificationService.getPermanentSingleLineNotification()">
  <div [ngSwitch]="notificationService.getPermanentSingleLineNotification()">
    <div *ngSwitchCase="systemModeEnum.DISASTER_SWAP" style="color: red">
      Disaster Swap Mode
    </div>
  </div>
</div>
