<app-partitioning-slider #slider></app-partitioning-slider>
<app-partitioning-lead></app-partitioning-lead>
<app-partitioning-follow
  (formFinished)="slider.setModel($event)"
></app-partitioning-follow>
