<div #wrapper class="d-flex">
  <div id="page-content-wrapper">
    <app-statusbar></app-statusbar>
    <br />
    <div class="container-fluid">
      <div class="card">
        <nav #nav="ngbNav" class="nav-tabs card-header" ngbNav>
          <ng-container ngbNavItem>
            <a ngbNavLink>Login</a>
            <ng-template ngbNavContent>
              <app-login></app-login>
            </ng-template>
          </ng-container>
          <ng-container
            ngbNavItem
            *ngIf="
              sysstateService.getLatestSysstate()?.actmode ==
                systemModeEnum.DEFAULT ||
              sysstateService.getLatestSysstate()?.actmode ==
                systemModeEnum.DEFAULT_NO_SYNC
            "
          >
            <a ngbNavLink>Disaster Swap</a>
            <ng-template ngbNavContent>
              <app-disaster-swap-login></app-disaster-swap-login>
            </ng-template>
          </ng-container>
          <ng-container
            ngbNavItem
            *ngIf="
              sysstateService.getLatestSysstate()?.actmode ==
              systemModeEnum.DISASTER_SWAP
            "
          >
            <a ngbNavLink>Switch back</a>
            <ng-template ngbNavContent>
              <app-switch-back></app-switch-back>
            </ng-template>
          </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="card-body mt-2"></div>
      </div>
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
</div>
