<div class="row my-4">
  <div class="col" i18n>
    In this step you can set up the hostname of your syncosync box. If you need
    further help, activate the help button. You can skip this setting and set it
    later, if you want to stay with the hostname.
  </div>
</div>
<app-hostname-form
  (formFinished)="configurationFinished.emit($event)"
></app-hostname-form>
