<div class="row flex-row">
  <h1 i18n="setupNotRecoverableHeader">Disk Setup</h1>
  <div
    *ngIf="current_vg_uuid === null || current_vg_uuid == ''"
    i18n="thisBoxFactory"
    class="alert alert-info"
  >
    This box is in factory state.
  </div>
  <div
    *ngIf="current_vg_uuid != ''"
    class="alert alert-info"
    i18n="lastConfiguredInfo"
  >
    syncosync box was last configured on TODO {{ current_vg_uuid }}
  </div>
  <div
    *ngIf="drives?.vgs?.sos_found == false"
    i18n="noSosDriveFound"
    class="alert alert-info"
  >
    The disks connected to this system could now be formatted and used with this
    syncosync box.
  </div>
  <br />
</div>
<div class="row flex-row">
  <div class="col">
    <div
      *ngIf="helpStateService.isShowHelp()"
      class="help-block alert alert-info"
      role="alert"
      id="drivesetuphelp"
      i18n="driveSetupHelp"
    >
      When you have landed on the disk setup page after login, this means, that
      your disk configuration is either not formatted right to be used with
      syncosync or it is different from the situation stored in the syncosync
      box.<br />
      With the following menu, you can react on this situation. If you do not
      understand what to do there and you have already stored backup data on a
      disk, be careful! <br />
      <b>Formatting of disks leads to final data loss!</b><br />
      Maybe you have somebody to ask for help? Just switching off the system
      does not change any configuration.
    </div>
  </div>

  <div
    class="alert alert-warning"
    id="basesystemnotconfiguredrow"
    style="display: none"
  >
    <span i18n="basesystemnotconfigured"
      >syncosync box is not configured yet</span
    >
  </div>
  <div class="alert alert-warning" id="multiplevgfound" style="display: none">
    <span i18n="multiplevgfound"
      >There are sos disks from multiple sos installations in the system.</span
    >
  </div>
  <div class="alert alert-warning" id="partialvgfound" style="display: none">
    <span i18n="partialvgfound">One syncosync disk group is not complete.</span>
  </div>
  <div class="alert alert-warning" id="nonsosdrivefound" style="display: none">
    <span i18n="nonsosdrivefound"
      >There is a disk not containing sos data.</span
    >
  </div>
  <div class="alert alert-warning" id="diffconfigfound" style="display: none">
    <span i18n="diffconfigfound"
      >There is a disk with a different configuration than the syncosync
      box</span
    >
  </div>
  <hr />
  <h2 i18n="drivesetupDrives">Disks</h2>

  <div id="drives">
    <div class="container" *ngIf="drives">
      <div *ngFor="let drive of drives.drives; index as i">
        <div class="row">
          <!-- TODO: Also pass volumegroups etc... -->
          <div class="col">
            <app-drivebox
              *ngIf="drive !== null"
              [drive]="drive"
              [lastUsedVgUuid]="current_vg_uuid"
              [otherCheckboxTriggered]="checkboxChanged"
              [drives]="drives"
              [current_vg_uuid]="current_vg_uuid"
            ></app-drivebox>
          </div>
          <div
            class="col align-self-center"
            *ngIf="drive !== null && drive.vg_state == '-'"
          >
            <div class="form-check">
              <input
                #checkbox
                (change)="updateVgSelection(checkbox.checked, drive)"
                [checked]="drive.vg_uuid == selected_drive?.vg_uuid"
                [defaultChecked]="drive.vg_uuid == current_vg_uuid"
                id="select{{ drive.id }}"
                name="volume_action"
                type="checkbox"
                value="select"
                class="form-check-input"
                id="select-checkbox"
              />
              <label
                *ngIf="
                  drive.vg_uuid == current_vg_uuid &&
                  (drives.non_sos_drive == true ||
                    drives.vgs.multiple_sos == true)
                "
                class="form-check-label"
                for="select{{ drive.id }}"
                i18n
                >Select this disk to use the syncosync data on it and expand it
                with all other drives shown.</label
              >
              <label
                *ngIf="
                  drive.vg_uuid != current_vg_uuid &&
                  (drives.non_sos_drive == true ||
                    drives.vgs.multiple_sos == true)
                "
                class="form-check-label"
                for="select{{ drive.id }}"
                i18n
                >Select this disk to use the syncosync data on it, expand it
                with all other disks shown and restore the configuration found
                on this disk on the syncosync system.</label
              >
              <label
                *ngIf="
                  drive.vg_uuid != current_vg_uuid &&
                  drives.non_sos_drive == false &&
                  drives.vgs.multiple_sos == false
                "
                class="form-check-label"
                for="select{{ drive.id }}"
                i18n
                >Select this disk to use the syncosync data on it and restore
                the configuration found on this disk on the syncosync
                system.</label
              >
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row flex-row mx-1 justify-content-end">
        <div class="col col-auto my-1">
          <button
            (click)="eraseAllAndUseForVg()"
            class="btn btn-danger"
            i18n="drivesetup_erase_all"
            type="button"
            id="format-all-disks-button"
          >
            Format all disks
          </button>
        </div>
        <div *ngIf="drives.vgs.sos_found == true" class="col col-auto my-1">
          <button
            #useAndExpandButton
            (click)="useAndExpand()"
            [disabled]="selected_drive == null"
            class="btn btn-primary"
            type="button"
            id="use-and-expand-button"
          >
            <span *ngIf="useAndExpandButton.disabled" i18n
              >Select a syncosync volume group</span
            >
            <span
              *ngIf="
                !useAndExpandButton.disabled &&
                this.selected_drive &&
                this.current_vg_uuid == this.selected_drive.vg_uuid &&
                (drives.non_sos_drive == true ||
                  drives.vgs.multiple_sos == true)
              "
              i18n
            >
              Use selected & expand
            </span>
            <span
              *ngIf="
                !useAndExpandButton.disabled &&
                this.selected_drive &&
                this.current_vg_uuid == this.selected_drive.vg_uuid &&
                drives.non_sos_drive == false &&
                drives.vgs.multiple_sos == false
              "
              i18n
            >
              Use selected
            </span>
            <span
              *ngIf="
                !useAndExpandButton.disabled &&
                this.selected_drive &&
                this.current_vg_uuid != this.selected_drive.vg_uuid &&
                drives.non_sos_drive == false &&
                drives.vgs.multiple_sos == false
              "
              i18n
            >
              Restore Configuration from selected
            </span>
            <span
              *ngIf="
                !useAndExpandButton.disabled &&
                this.selected_drive &&
                this.current_vg_uuid != this.selected_drive.vg_uuid &&
                (drives.non_sos_drive == true ||
                  drives.vgs.multiple_sos == true)
              "
              i18n
            >
              Expand & Restore Configuration
            </span>
          </button>
        </div>
        <div class="col col-auto my-1">
          <button
            (click)="shutdownSystem()"
            class="btn btn-warning"
            i18n="driveSetup_shutdown"
            type="submit"
            id="switch-off-button"
            i18n
          >
            Switch off system
          </button>
        </div>
      </div>
      <div *ngIf="drives === null" i18n>Reading drive information...</div>
    </div>
  </div>
</div>
