<div *ngIf="this.statusService.getStatus()" class="container m-2">
  <div class="row flex-row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="block">
        <div class="inner"><h3 i18n>Disk</h3></div>

        <div class="inner">
          &nbsp;(<span i18n>Total Size</span>:
          {{
            this.statusService.getStatus()?.total_size
              | bytesToHumanReadableSize
          }}) &nbsp;
        </div>
        <div
          class="inner"
          *ngIf="this.statusService.getStatus().driveup.length > 0"
          [ngStyle]="{ height: 30 + 'px', width: 30 + 'px' }"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1"
            height="25"
            [attr.width]="30 * 0.9"
            [attr.height]="30 * 0.9"
            fill="currentColor"
            class="bi bi-disc rotated icncenter"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 4a4 4 0 0 0-4 4 .5.5 0 0 1-1 0 5 5 0 0 1 5-5 .5.5 0 0 1 0 1zm4.5 3.5a.5.5 0 0 1 .5.5 5 5 0 0 1-5 5 .5.5 0 0 1 0-1 4 4 0 0 0 4-4 .5.5 0 0 1 .5-.5z"
            /></svg
          >&nbsp;&nbsp;
        </div>
      </div>
      <app-disk-usage-donut></app-disk-usage-donut>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3 i18n>Network</h3>
      <app-downspeed-graph></app-downspeed-graph>
    </div>
  </div>
  <hr />
  <div class="row flex-row">
    <div class="col">
      <app-accounts-drop-listing
        [latestStatus]="this.statusService.getStatus()"
      ></app-accounts-drop-listing>
    </div>
  </div>
</div>
