<div class="row">
  <div class="col col-auto" i18n>
    In order to restore a backup configuration file, the password of the
    syncosync system at the time of creation of the backup is needed.
  </div>
</div>

<hr />
<form *ngIf="model" #form="ngForm" (ngSubmit)="onSubmit()">
  <app-file-upload (newFile)="newFileSelected($event)"></app-file-upload>

  <div class="form-group">
    <div class="row">
      <div class="col-md align-self-end">
        <label for="password" i18n>Password:</label>
        <div class="input-group">
          <input
            #password
            [(ngModel)]="model.config_backup_password"
            class="form-control"
            id="password"
            name="password"
            type="password"
          />
          <div class="input-group-append">
            <span [ngSwitch]="password.type == 'text'" class="input-group-text">
              <i
                (click)="password.type = 'password'"
                *ngSwitchCase="true"
                class="bi-eye-fill"
                i18n-ngbTooltip
                ngbTooltip="Hide Password"
              ></i>
              <i
                (click)="password.type = 'text'"
                *ngSwitchCase="false"
                class="bi-eye-slash-fill"
                i18n-ngbTooltip
                ngbTooltip="Show Password"
              ></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div class="row flex-row mt-2 justify-content-end">
    <div class="col col-auto">
      <button
        [disabled]="model.config_backup_password.length == 0 || file === null"
        class="btn btn-block btn-primary"
        type="submit"
      >
        Restore
      </button>
    </div>
  </div>
</form>
