<div *ngIf="model">
  <select
    class="custom-select custom-select-sm"
    name="language-picker"
    id="language-picker"
    tooltip="Select Language"
    [(ngModel)]="model.language"
    (ngModelChange)="onSubmit()"
  >
    <option
      [ngValue]="supportedLanguages.UNSET"
      tooltip="browser selected"
      i18n
    >
      ?
    </option>
    <option [ngValue]="supportedLanguages.ENGLISH">EN</option>
    <option [ngValue]="supportedLanguages.GERMAN">DE</option>
  </select>
</div>
