<div class="container">
  <div class="row">
    <div class="col">
      <h3 i18n>System Maintenance</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span i18n></span>
    </div>
  </div>

  <div class="row">
    <app-reboot-form></app-reboot-form>
  </div>
  <div class="row">
    <app-shutdown-form></app-shutdown-form>
  </div>

  <div class="row">
    <app-configuration-backup-management></app-configuration-backup-management>
  </div>
</div>
